/* Signup frame */

position: relative,
width: 375,
height: 667,

backgroundColor: #FFFFFF,


/* rectangle_header */

position: 'absolute',
width: 375,
height: 70,
left: 0,
top: -4,

backgroundColor: #2D9CDB,
box-shadow: 0 4 4 rgba(0, 0, 0, 0.25),


/* Create Account */

position: 'absolute',
width: 184,
height: 33,
left: 95,
top: 17,

fontFamily: 'Cochin',
fontStyle: 'normal',
fontWeight: 'bold',
lineHeight: 'normal',
fontSize: 24,
textAlign: 'center',

color: #F2F2F2,


/* Password_line */

position: 'absolute',
width: 265.02,
height: 0,
left: 55.99,
top: 304.48,

border: 2 solid #2D9CDB,


/* Email_line */

position: 'absolute',
width: 265.02,
height: 0,
left: 55.99,
top: 252.48,

border: 2 solid #2D9CDB,


/* Name_line */

position: 'absolute',
width: 265.02,
height: 0,
left: 55.99,
top: 207.48,

border: 2 solid #2D9CDB,


/* email_text */

position: 'absolute',
width: 180,
height: 25,
left: 97,
top: 227,

fontFamily: 'Cochin',
fontStyle: 'normal',
fontWeight: 'bold',
lineHeight: 'normal',
fontSize: 18,
textAlign: 'center',

color: #F2F2F2,
border: 0.5 solid #000000,


/* name_text */

position: 'absolute',
width: 52,
height: 25,
left: 161,
top: 181,

fontFamily: 'Cochin',
fontStyle: 'normal',
fontWeight: 'bold',
lineHeight: 'normal',
fontSize: 18,
textAlign: 'center',

color: #F2F2F2,
border: 0.5 solid #000000,


/* password_text */

position: 'absolute',
width: 87,
height: 25,
left: 144,
top: 271,

fontFamily: 'Cochin',
fontStyle: 'normal',
fontWeight: 'bold',
lineHeight: 'normal',
fontSize: 18,
textAlign: 'center',

color: #F2F2F2,
border: 0.5 solid #000000,


/* envelope_body */

position: 'absolute',
width: 25,
height: 18,
left: 52,
top: 230,

backgroundColor: #F2F2F2,
border: 1 solid #000000,
box-sizing: border-box,
border-radius: 2,


/* envelope_bottom_triangle */

position: 'absolute',
width: 30,
height: 15,
left: 50,
top: 236,

backgroundColor: #F2F2F2,
border: 1 solid #000000,
box-sizing: border-box,
border-radius: 1,


/* envelope_top_triangle */

position: 'absolute',
width: 30,
height: 13,
left: 50,
top: 240,

backgroundColor: #F2F2F2,
border: 1 solid #000000,
box-sizing: border-box,
border-radius: 1,
transform: matrix(1, 0, 0, -1, 0, 0),


/* lock_top */

position: 'absolute',
width: 13,
height: 13,
left: 57,
top: 278,

backgroundColor: #F2F2F2,
border: 1 solid #000000,
box-sizing: border-box,


/* lock_body */

position: 'absolute',
width: 15,
height: 14,
left: 56,
top: 284,

backgroundColor: #F2F2F2,
border: 1 solid #000000,
box-sizing: border-box,
border-radius: 1,


/* confrim_password_line */

position: 'absolute',
width: 265.02,
height: 0,
left: 55.99,
top: 351.48,

border: 2 solid #2D9CDB,


/* confirm_password_text */

position: 'absolute',
width: 162,
height: 25,
left: 106,
top: 318,

fontFamily: 'Cochin',
fontStyle: 'normal',
fontWeight: 'bold',
lineHeight: 'normal',
fontSize: 18,
textAlign: 'center',

color: #F2F2F2,
border: 0.5 solid #000000,


/* lock_top */

position: 'absolute',
width: 13,
height: 13,
left: 57,
top: 325,

backgroundColor: #F2F2F2,
border: 1 solid #000000,
box-sizing: border-box,


/* lock_body */

position: 'absolute',
width: 15,
height: 14,
left: 56,
top: 331,

backgroundColor: #F2F2F2,
border: 1 solid #000000,
box-sizing: border-box,
border-radius: 1,


/* person_body */

position: 'absolute',
width: 19.92,
height: 15,
left: 52.54,
top: 188,

backgroundColor: #F2F2F2,
border: 1 solid #000000,
box-sizing: border-box,
border-radius: 3,


/* person_head */

position: 'absolute',
width: 12,
height: 12,
left: 57,
top: 180,

backgroundColor: #F2F2F2,
border: 1 solid #000000,
box-sizing: border-box,


/* laundromat_rectangle */

position: 'absolute',
width: 139,
height: 45,
left: 37,
top: 426,

backgroundColor: #2D9CDB,
border-radius: 10,


/* Search Laundromats */

position: 'absolute',
width: 115,
height: 25,
left: 48,
top: 435,

fontFamily: 'Cochin',
fontStyle: 'normal',
fontWeight: 'bold',
lineHeight: 'normal',
fontSize: 14,
textAlign: 'center',

color: #F2F2F2,


/* laundromat_rectangle */

position: 'absolute',
width: 139,
height: 45,
left: 199,
top: 426,

backgroundColor: #2D9CDB,
border-radius: 10,


/* Add Your Apartment */

position: 'absolute',
width: 115,
height: 25,
left: 210,
top: 435,

fontFamily: 'Cochin',
fontStyle: 'normal',
fontWeight: 'bold',
lineHeight: 'normal',
fontSize: 14,
textAlign: 'center',

color: #F2F2F2,


/* < login */

position: 'absolute',
width: 50,
height: 14,
left: 6,
top: 29,

fontFamily: 'Cochin',
fontStyle: 'normal',
fontWeight: 'bold',
lineHeight: 'normal',
fontSize: 14,
textAlign: 'center',

color: #000000,
